@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
.container {
  height: 100vh;
  background: url("../../images/Login.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.formHeader {
  font-family: "Dancing Script", cursive;
  font-size: 65px;
  text-align: center;

  background: #b5f02c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f0ed31,
    #29ad0f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f0ed31,
    #52e734
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.formHeader span {
  -webkit-text-fill-color: #fff;
}
